<div class="container">
    <h2>RWD Image Size</h2>
    <div class="title">
        <h3 class="short">Hello this is short title</h3>
        <div class="article">
            Hello This is RWD Image Size Google Chrome is a web browser developed by Google, released in 2008. Chrome is
            the world's most popular web browser today!
        </div>
    </div>
    <div class="img-container">
        <img
            src="https://images.pexels.com/photos/12965141/pexels-photo-12965141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
    </div>
</div>
