<div class="home">
    <h1>Cypress Playground</h1>
    <div>
        <a [routerLink]="'/page-test'">Angular App Test</a>
    </div>
    <div>
        <a href="https://qbi.chainsea.com.tw:39722/cbe/login.html">Iframe Content</a>
    </div>
</div>
